.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.Ruserdata

*.tar.gz
*.bak
README.html
README.docx

paper-showcase/output/
paper-showcase/*_files/
paper-showcase/*.html

.DS_Store
Thumbs.db
